<h1>Your Reservations/Dashboard</h1>

<p>To create a new reservation, <%= link_to "view all restaurants!", restaurants_path %></p>
<%# linking the choose a resturant to index page for all restaurants %>

<p> Hi <%= @user.name %>! Here are all your reservations! Yum yum! </p>

  <% @user.reservations.each do |reservation| %>
    <div>Reservation at: <%= reservation.restaurant.name %> </div>
    <div>Time: <%= reservation.datetime %> </div>
    <div>Location: <%= reservation.restaurant.address %></div>
    <div>Capcity: <%= reservation.seats %> </div>
<% end %>




<!-- method: :delete, data: { confirm: "Are you sure you want to delete this?" } %> -->


<%# if @user.owner %>

<h1> Your restaurants: </h1>
<% @owned_restaurants.each do |restaurant| %>

    <div>Restaurant name: <%= restaurant.name %> </div>
    <div>Total capacity: <%= restaurant.capacity %> </div>

<% end  %>

<%#Current available capacity: <%= restaurant.available_capacity %> 
