<h1>Your Reservations/Dashboard</h1>

<p>To create a new reservation, <%= link_to "view all restaurants!", restaurants_path %></p>
<%# linking the choose a resturant to index page for all restaurants %>

<p> Hi <%= @user.name %>! Here are all your reservations! Yum yum! </p>

  <% @user.reservations.each do |reservation| %>
    <div>Reservation at: <%= reservation.restaurant.name %> </div>
    <div>Time: <%= reservation.datetime %> </div>
    <div>Location: <%= reservation.restaurant.address %></div>
    <div>Capcity: <%= reservation.seats %> </div>
<% end %>

<p>To edit reservation: <%= link_to "Edit", edit_user_reservation_path(@user.id) %></p>



<!-- method: :delete, data: { confirm: "Are you sure you want to delete this?" } %> -->


<%# if @user.owner %>
<h1> Your restaurants: </h1>
    <div>Restaurant name: <%= owned_restaurants.name %> </div>
    <div>Total capacity: <%= owned_restaurants.capacity %> </div>
    <div>Current available capacity: <%= owned_restaurants.current_capacity %> </div>
    <p>Edit this restaurant:  <%= link_to "Edit", edit_restaurant_path(@user.id)%></p>


<h2>Reservations for <%= owned_restaurants.name %>:</h2>
