<h3>Reserve Your Table</h3>

<%= form_for([@restaurant, @reservation]) do |f| %>
  <%# render "shared/errors", object: [@restaurant, @reservation] %>

  <div class="field">
    <%= f.label :seats %>
    <%= f.select :seats, options_for_select(2..20) %>
  </div>
  <div class="field">
    <%= f.label :year %>
    <%= f.select :year, options_for_select((2017)..2018) %>
  </div>
  <div class="field">
    <%= f.label :month %>
    <%= f.select :month, options_for_select(01..12) %>
  </div>
  <div class="field">
    <%= f.label :day %>
    <%= f.select :day, options_for_select(01..31) %>
  </div>
  <div class="field">
    <%= f.label :hour %>
    <%= f.select :hour, options_for_select(11..19) %>
  </div>
  <div class="form-actions">
    <%= f.submit "Save" %>
  </div>

<% end %>
