<div class="restaurant_info">
  <h1><%= link_to restaurant.name, restaurant %></h1>
  <%= restaurant.address %><br />
  <%= restaurant.phone %><br />
  <p>
    <%= restaurant.description %>
  </p>
  <%= restaurant.website %>
</div>
