<h1> Restaurants </h1>


<% if @info.include? current_user %>
  <h2><%= link_to "Add a Restaurant", new_restaurant_path %></h2>
<% elsif current_user %>
  <%= link_to "Sign up", new_user_url %> to make a restaurant!
<% end %>

<% if current_user == nil %>
  <%= link_to "Log in", new_session_url %> or
  <%= link_to "Sign up", new_user_url %> to make a reservation!
<% end %>

<%= render @restaurants %>
